@import "./../_variables.scss";
@import "./../_mixins.scss";

.circle-menu {
  position: absolute;
  left: 452px;
  top: 215px;
  width: 536px;
  height: 536px;
  border-radius: 50%;
  margin: 0 auto;
  @include center-flex;
  border: 1px solid rgba(66, 86, 122, 0.2);
  transition: transform 0.8s ease;
}

.circle-years {
  position: absolute;
  top: 185px;
  left: 217px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.circle-start-year {
  font-family: PT Sans;
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $year-start-color;
}

.circle-end-year {
  font-family: PT Sans;
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: $year-end-color;
}

.menu-item {
  margin: -4px;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: $primary-color;
  border-radius: 50%;
  transition: all 0.3s ease;
  @include center-flex;
  cursor: pointer;
}

.menu-item::before {
  content: attr(data-label);
  display: none;
  position: absolute;
  top: 50%;
  left: 150%;
  transform: translateY(-50%);
  white-space: nowrap;
  background-color: none;
  top: -2px;
  padding-left: 4px;
  font-family: PT Sans;
  font-size: 4px;
  font-weight: 700;
  line-height: 10px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  transform: none;
  color: $primary-color;
}

.menu-item.selected::before,
.menu-item:hover::before {
  display: inline-block;
}

.menu-item:hover,
.menu-item.selected {
  background-color: $background-color;

  border-radius: 50%;
  transform: scale(500%);
  box-shadow: 0 0 1px #303e5880;
}

.menu-item-index {
  font-size: 2.5px;
  font-weight: 500;
  color: $primary-color;
  @include center-flex;
  white-space: nowrap;
}

.active-label {
  position: absolute;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding: 8px;
  border-radius: 8px;
  color: $primary-color;
  z-index: 100;
  white-space: nowrap;
  background-color: $background-color;
  transform: none;
}

@media (max-width: 320px) {
  .circle-menu {
    display: none;
  }

  .circle-years {
    position: absolute;
    top: 163px;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .circle-start-year {
    font-size: 56px;
    line-height: 72px;
  }

  .circle-end-year {
    font-size: 56px;
    line-height: 72px;
  }
}
